{% extends 'base.html' %}

<!-- load humanize -->
{% load humanize %}

<!-- webpage tab title -->
{% block title %} | {{ user.username | title }} Dashboard{% endblock %}

<!-- main content -->
{% block content %}

<!-- alert messages -->
{% include 'partials/_alert.html' %}

<!-- showcase -->
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">User Dashboard</h1>
        <p class="lead">Manage your BC Health Care account</p>
      </div>
    </div>
  </div>
</section>
<!-- end showcase -->

<!-- dashboard -->
<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome {{ user.username | title }}</h2>
        {% if contacts %}
        <p>Here are the clinic listings that you have inquired about</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Clinic</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <td>{{ contact.id }}</td>
              <td>{{ contact.listing | title }}</td>
              <td>
                <a
                  class="btn btn-light"
                  href="{% url 'app_listings:djep_listing' contact.listing_id %}"
                  >View Listing</a
                >
                <button
                  class="btn btn-danger"
                  data-url="{% url 'app_contacts:djep_delete_contact' contact.id %}"
                  data-toggle="modal"
                  data-target="#confirmDeleteModal"
                  data-id="{{ contact.id }}"
                >
                  Delete
                </button>
                <a
                  class="btn btn-success"
                  href="{% url 'app_contacts:djep_edit_contact' contact.id %}"
                  >Edit</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>You have not made any clinic inquiries yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- delete modal -->
<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">
          Confirm Deletion
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this contact inquiry?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <a href="#" class="btn btn-danger" id="confirmDeleteBtn">Delete</a>
      </div>
    </div>
  </div>
</div>
<!-- end delete modal -->
<!-- end dashboard -->

<!-- prettier-ignore -->
{% endblock %}
<!-- end main content -->
