{% extends 'base.html' %}

<!-- after using the collectstatic command -->
{% load static %}

<!-- load humanize -->
{% load humanize %}

<!-- webpage tab title -->
{% block title %} | Import Data{% endblock %}

<!-- main content -->
{% block content %}

<!-- main content -->
<!-- add alert message here -->

<!-- display messages -->
<!-- for displaying alert messages in some html such as register and login -->
{% if messages %}
<!-- prettier-ignore -->
{% for message in messages %}
<div class="container" id="djmessage{{ forloop.counter }}">
  <div
    class="alert alert-{{ message.tags }} alert-dismissible text-center"
    role="alert"
  >
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>
      <!-- prettier-ignore -->
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        Error:
      {% else %}
        {{ message.tags | title }}
      {% endif %}
    </strong>
    {{ message }}
  </div>
</div>
{% endfor %}
<!-- prettier-ignore -->
{% endif %}
<!-- end display messages -->

<br /><br />
<div class="container">
  {% if user.is_authenticated %}
  <!-- form for investment choices -->
  <form action="{% url 'user_investments:save' %}" method="post">
    {% csrf_token %}
    <!-- investment amount -->
    Investment Amount: <input type="text" name="amount" /> <br /><br />
    <!-- display investment choices -->
    <!-- prettier-ignore -->
    {% for investment_choice in investment_choices %}
    <!-- prettier-ignore -->
    {{ investment_choice.investment_name }} &nbsp; &nbsp;
    <select name="{{ investment_choice.investment_name }}">
      <option value="0">0%</option>
      <option value="10">10%</option>
      <option value="20">20%</option>
      <option value="30">30%</option>
      <option value="40">40%</option>
      <option value="50">50%</option>
      <option value="60">60%</option>
      <option value="70">70%</option>
      <option value="80">80%</option>
      <option value="90">90%</option>
      <option value="100">100%</option>
    </select>
    <br /><br />
    <!-- prettier-ignore -->
    {% endfor %}
    <!-- end display investment choices -->

    <button type="submit" class="btn btn-primary mb-3">Save</button>
  </form>
  {% else %}
  <script>
    window.location.replace("/");
  </script>
  {% endif %}
</div>
<!-- end main content -->

<!-- https://getbootstrap.com/docs/4.6/getting-started/introduction/#separate -->
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
  integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
  crossorigin="anonymous"
></script>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- modal.js -->
<script>
  $(document).ready(function () {
    $("#confirmDeleteFormModal").on("shown.bs.modal", function (event) {
      // Get the anchor element that triggered the modal
      var button = $(event.relatedTarget);

      // in case we need contact id
      // const contactId = button.data("id");
      // $("#modal-contact-id").val(contactId);
      // $("#modal-contact-id").text(contactId);

      // Extract the value from the 'data-url' attribute of the trigger button
      var urlValue = button.data("url");

      // Find the specific link within the modal and update its 'href' attribute
      // var modalLink = $(this).find('#modal-dynamic-link');
      // modalLink.attr("href", urlValue);

      // $("#confirmDeleteFormBtn").attr("href", urlValue);
      $("#confirmDeleteFormForm").attr("action", urlValue);
    });

    // $("#confirmDeleteFormBtn").click(function (event) {
    //   $("#confirmDeleteFormModal").modal("hide");
    //   setTimeout(function () {
    //     // window.location.href = $("#confirmDeleteFormBtn").attr("href");
    //     $("#confirmDeleteFormBtn").submit();
    //   }, 500); // Delay of 500 milliseconds
    // });
  });
</script>

<!-- delete modal -->
<div
  class="modal fade"
  id="confirmDeleteFormModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmDeleteFormModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteFormModalLabel">
          Confirm Deletion
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <form action="#" method="post" id="confirmDeleteFormForm">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <!-- <a href="#" class="btn btn-danger" id="confirmDeleteFormBtn">Delete</a> -->
      </div>
    </div>
  </div>
</div>
<!-- end delete modal -->

<!-- message fadeout js script -->
<script>
  // set message to fade out after 3 to 10 seconds
  // need to collectstatic after making changes to static files
  // python manage.py collectstatic
  // runserver will serve static files in development mode
  // in production, need to configure web server to serve static files
  // for example, using nginx or apache
  // also need to set STATIC_URL and STATIC_ROOT in settings.py
  // STATIC_URL = '/static/'
  // STATIC_ROOT = os.path.join(BASE_DIR, 'staticfiles')
  // then run collectstatic to collect static files into STATIC_ROOT
  // finally, configure web server to serve files from STATIC_ROOT at STATIC_URL
  setTimeout(() => {
    $("#djmessage").fadeOut("slow");
  }, 3000);
  setTimeout(function () {
    $("#djmessage1").fadeOut("slow");
  }, 6000);
  setTimeout(function () {
    $("#djmessage2").fadeOut("slow");
  }, 8000);
  setTimeout(function () {
    $("#djmessage3").fadeOut("slow");
    $("#djmessage4").fadeOut("slow");
    $("#djmessage5").fadeOut("slow");
    $("#djmessage6").fadeOut("slow");
    $("#djmessage7").fadeOut("slow");
    $("#djmessage8").fadeOut("slow");
    $("#djmessage9").fadeOut("slow");
    $("#djmessage10").fadeOut("slow");
  }, 10000);
</script>

{% endblock %}
